html,body{
	margin: 0;
	padding: 0;
	background-color: #eeeeee;
	font-size: 67.5%;
}
*{
	box-sizing: border-box;
}
body{
	font-size: 1.6em;
	font-size: 1.6rem;
	font-family: Arial, Helvetica, Helv, sans;
}
.explorer{
	padding: 20px;
	border: 1px solid #999;
	border-radius: 3px;
	margin: 20px;
}
.entity{
	padding-left: 20px;
	padding: 5px;
}
.entity .title{
	display: block;
	margin-bottom: 10px;
}
.entity .title .name:before{
	content:'[';
}
.entity .title .name:after{
	content:']';
}
.entity .title .visibility{
	font-style: italic;
}
.entity .entity{
	margin-left: 20px;
}
.entity .entity .properties{
	height: 0;
	overflow: hidden;
}
.entity.show > .properties{
	height: auto;
}
.properties{
	border-left: 1px solid #ccc;
}
.entity{
	color: #C9A690;
}
.entity.array{
	color: #D36582;
}
.entity.object{
	color: #2B59C3;
}
.entity.string{
	color: #2E6567;
}
.entity.array.empty,
.entity.object.recursion{
	color: #999;
}
.entity.static{
	font-style: italic;
}
.entity.current{
	background-color: #ddd;
}
.entity.value{
	background-color: white;
	padding: 5px 10px;
}
